.reset_title {
    position: relative;
    font-size: 28px;
    top: 0rem;
    left: 1.9rem;
    font-family: 'Roboto', sans-serif;
}

.reset_image {
    position: relative;
    width: 250px;
    height: 250px;
    left:3.6rem;
    top: 2rem;
}