.newpass_image {
    position: relative;
    width: 250px;
    height: 250px;
    left:3.8rem;
    bottom: 0rem; 
}

.forgot_title {
    position: relative;
    font-size: 28px;
    top: 3rem;
    left: 2.2rem;
    font-family: 'Roboto', sans-serif;
}