.create_account_title {
    position: relative;
    font-size: 28px;
    top: 3rem;
    left: 2rem;
    font-family: 'Roboto', sans-serif;

}

.login_btn {
    font-weight: bold;
}

.signup_btn {
    position: relative;
    width: 75%;
    left: 2.8rem;
}

.image_register {
    position: relative;
    width: 250px;
    height: 250px;
    left:3.1rem;
}
