.category-photos {
    display: flex;
}
.category {
    height : 120px !important;
}

#heart_favorite-hover {
    font-size: 1.5rem;
    color:rgb(216, 130, 144);
}
#heart_favorite-hover:active {
    transform: scale(1.5);
}
.event_title {
    position: relative;
    top: 0.1rem;
    font-weight: 10px;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5d5d5d;
}

.date_favoritr_color {
    color:rgb(216, 130, 144);
    font-size: 1.04rem;
}
.event_title {
    position: relative;
    top: 0.1rem;
    font-weight: 10px;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5d5d5d;
}

.event_time {
    position: relative;
    color: #ce93d8;
    // right: 1.3rem;
}
// .details{
//     display: block;
// }
.favorite_img_size {
    height: 17rem;
    width: 22rem;

}    
        .favorite_img_size {
        width: 55rem;
        height: 22rem;
    
        }
    
    #title_favorite_color {
        color: #251f11;
        font-size: 1.2rem;
    }
    
    .date_favoritr_color {
        color:rgb(216, 130, 144);
        font-size: 1.04rem;
    }
    
    .event_title {
        position: relative;
        top: 0.1rem;
        font-weight: 10px;
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #5d5d5d;
    }
    
    .event_time {
        position: relative;
        color: #ce93d8;
        right: 1.3rem;
        opacity: 1;
    }