

.container{
    position: relative;
    height: 75px;
    width: 350px;
    justify-content: 5px;
    display: flex;
}
.container .box {
    position: relative;
    width: calc(175px - 7px);
    height: calc(60px - 7px);
    background: #ce93d8;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
    float: left;
    justify-content: 5px;
    // margin: 0;
    // width: auto;
    // left: 0;
    // animation: 20s slider infinite; 
}
.i{
    background: #ce93d8;
    color: black;
}
    
  
