.input_create_Event {
    width: 90% !important;
    margin-left: 1rem;

}
.color_subtitle_create {
    color: #505164 !important;
}
.color_subtitle_create {
    color: #505164 !important;
    height: 20px !important;
    width: 100px !important;
}
.second_button_create_event{
    color: #505164 !important;
    height: 20px !important;
    width: 100px ;
}