// .input_create_categories {
//     width: 90% !important;
//     margin-left: 1rem;
// }
// .color_subtitle_categories {
//     color: #505164 !important;
//     height: 20px !important;
//     width: 100px !important;
// }
// .second_button_create_event1{
//     color: #505164 !important;
//     height: 20px !important;
//     width: 100px ;
// }
.input_create_categories {
    width: 90% !important;
    margin-left: 1rem;
}
.color_subtitle_categories {
    color: #505164 !important;
    height: 20px !important;
    width: 100px !important;
}

.category_admin_btn {
    color: white !important;
    position: relative;
    top: 1rem;
    width: 70%;
    left:3.2rem;
}

.category_admin_description_text_style {
    font-size: 1.2rem;
    position: relative;
    left : 1.3rem;
    color: #404040;
}

.category_admin_delete_text_style {
    font-size: 1.2rem;
    position: relative;
    left : 1.3rem;
    color: #404040;
    top: 4rem;
}
.admin_category {
    position: relative;
    top: 4rem;
    width: 90%;
    left:1rem;
}

.delete_category_admin_btn {
    color: white !important;
    position: relative;
    top: 6rem;
    width: 70%;
    left:3.2rem;

}