.input_create_categories {
    width: 90% !important;
    margin-left: 1rem;
}
.color_subtitle_categories {
    color: #505164 !important;
    height: 20px !important;
    width: 100px !important;
}
.second_button_create_event1{
    color: #505164 !important;
    height: 20px !important;
    width: 100px ;
}