#heart_favorite_cat-hover {
    font-size: 1.5rem;
    color:rgb(216, 130, 144);
}
#heart_favorite_cat-hover:active {
    transform: scale(1.5);
}
#heart_favorite_cat-hover_liked {
    font-size: 1.5rem;
    color:rgb(216, 130, 144);
    transform: scale(1.5);
    // color: rgb(216, 130, 144);
}
.date_favoritr_color_cat {
    color:rgb(216, 130, 144);
    font-size: 1.04rem;
    
}
    .favorite_img_size-cat {
        height: 17rem;
        width: 22rem;
    }    
        .event_title_cat {
            position: relative;
            top: 0.1rem;
            font-weight: 10px;
            font-size: 22px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #5d5d5d;
        }
        .event_time_cat {
            position: relative;
            color: #ce93d8;
            opacity: 1;
            right: 1.2rem;
        }
        #title_favorite_color_cat {
            color: #251f11;
            font-size: 1.2rem;
        }
        
        .date_favoritr_color_cat {
            color:rgb(216, 130, 144);
            font-size: 1.04rem;
        }
#price_favorite_size_cat {
    position: relative;
    right: 0.5rem;
    bottom: 0.7rem;
}
.title_category_style_card {
    position: relative;
}