.color_update_profil {
    color: #ce93d8 ;
    font-size: 22px;
}

.description_title {
    position: absolute;
    color: #ce93d8 ;
    font-size: 22px;
    font-weight: bold;
    margin-left: 1.4rem;
    top: 400px;
}
.input_description {
    position: relative;
    margin-left: 0.5rem;
    top: 200px;
}
.profil_photo {
    margin-left: 8rem;
    width: 100px;
    height: 100px;
}

